
@{
    ViewBag.Title = "Assign Report";
}

<h2>Assign Report</h2>
<hr />
<br />
<div style="width: 100%">

    @if (ViewBag.ReportViewer != null)
    {
        Html.RenderPartial("_LoadReport");

    }

</div> 

