
@{
    ViewBag.Title = "PrintAssignRequisition";
}

<h2>Assign Requisition</h2>

<hr />
<br />
<div style="width: 100%">

    @if (ViewBag.ReportViewer != null)
    {
        Html.RenderPartial("_LoadReport");

    }

</div>

