
@{
    ViewBag.Title = "Search Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Index</h2>
<hr/>
<table id="organizationTable" class="ui celled table"style="width:100%">
    <thead >
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Reg No</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Reg No</th>
    </tr>
    </tfoot>
</table>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#organizationTable").DataTable({
                "ajax": {
                    "url": "/Organizations/GetList",
                    "type": "POST",
                    "datatype":"json"
                },
                "columns": [
                    { "data": "Name", "name": "Name" },
                    { "data": "Code", "name": "Code" },
                    { "data": "RegNo", "name": "Reg No" }
                ],
                "serverSide": "true",
                "order":[0,"asc"],
                "processing": "true",
                "language": {
                    "processing":"processing....please wait!"
                }
            });
        } );
    </script> 
}