
@{
    ViewBag.Title = "Schedule Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request Schedule </h2>
<br/>
<div id="calendar">

</div>
<!----Assigned Requisition Show modal----->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <h4 class="modal-title"> Requisition No : <span id="requisitionNumber"></span></h4>
                <a href="#" class="close" title="Close" data-dismiss="modal"> &times; </a>
            </div>

            <div class="modal-body">
              

                <p id="status" hidden="hidden"></p>

                <p id="description"></p>
            </div>

            <div class="modal-footer">
                <button id="btnCheckIn" class="btn btn-success pull-right">CheckIn</button>
                <button id="btnCheckOut" class="btn btn-success pull-right">CheckOut</button>
                <button id="btnAssign" class="btn btn-success pull-right">Assign</button>
                <button id="btnCancel" class="btn btn-success pull-right">Cancel Requisition</button>
                <button id="btnHold" class="btn btn-success pull-right">Hold Requisition</button>
                <a href="#" class="btn btn-warning" title="Close" data-dismiss="modal"> Close </a>
            </div>
        </div>
    </div>
</div>
<!------------Assign Modal---------->




<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print">
@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/Scripts/ScheduleCalendarJs/schedule-calendar.js"></script>
    <script>

    </script>
   
}