
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assigned Schedule </h2>
<br/>
<div id="calendar">

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <h4 class="modal-title"> Requisition No : <span id="requisitionNumber"></span></h4>
                <a href="#" class="close" title="Close" data-dismiss="modal"> &times; </a>
            </div>

            <div class="modal-body">
                <p id="description"></p>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-warning" title="Close" data-dismiss="modal"> Close </a>
            </div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print">

@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/Scripts/ScheduleCalendarJs/schedule-calendar.js"></script>
    <script>
        
    </script>
}