
@{
    ViewBag.Title = "About Devloper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}
<div class="table-success">
    <br/>
    <h3 style="text-align: center" class="text-primary text-uppercase">About Developer</h3>
    <br/>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h4 class="">Developers</h4>
            <br/>
            <a href="#" class="font-weight-light lnr-underline" data-toggle="collapse" data-target="#demo1"> Parvez Ahmed</a><br />
            <a href="#" class="font-weight-light lnr-underline" data-toggle="collapse" data-target="#demo2"> Masum Dollar</a><br/>
            <a href="#" class="font-weight-light lnr-underline" data-toggle="collapse" data-target="#demo3"> Sultana Bonna</a><br/>
            <a href="#" class="font-weight-light lnr-underline" data-toggle="collapse" data-target="#demo4"> Benajeer Haque</a><br/>
            <a href="#" class="font-weight-light lnr-underline" data-toggle="collapse" data-target="#demo5"> Chitto Ranjan</a><br />
        </div>
        <div class="col-md-10">
            <div id="demo1" class="row collapse clearfix">
                <div class="col-md-12">
                    <h3 class="text-center">Parvez Ahmed</h3>
                    <br/>
                </div>
                <div class="col-md-2 float-left">
                    <img class="img-thumbnail clearfix" alt="Parvez Ahmed" title="Parvez Ahmed" style="width: 130px; height: 130px" src="~/Content/img/developerimg/parvaz.jpg"/>
                </div>
                <div class="col-md-9 float-left">
                    <p>
                        I am <strong>Parvez Ahmed</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Parvez Ahmedr</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Parvez Ahmed</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Parvez Ahmed</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                    </p>
                </div>

            </div>
            <div id="demo2" class="row collapse clearfix">
                <div class="col-md-12">
                    <h3 class="text-center">Masum Dollar</h3>
                    <br/>
                </div>
                <div class="col-md-2 float-left">
                    <img class="img-thumbnail clearfix" alt="Masum Dollar" title="Masum Dollar" style="width: 130px; height: 130px" src="~/Content/img/developerimg/masum.jpg"/>
                </div>
                <div class="col-md-9 float-left">
                    <p>
                        I am <strong>Masum Dollar</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Masum Dollar</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Masum Dollar</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Masum Dollar</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                    </p>
                </div>

            </div>
            <div id="demo3" class="row collapse clearfix">
                <div class="col-md-12">
                    <h3 class="text-center">Sultana Bonna</h3>
                    <br/>
                </div>
                <div class="col-md-2 float-left">
                    <img class="img-thumbnail clearfix" alt="Sultana Bonna" title="Sultana Bonna" style="width: 130px; height: 130px" src="~/Content/img/developerimg/bonna.jpg"/>
                </div>
                <div class="col-md-9 float-left">
                    <p>
                        I am <strong>Sultana Bonna</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Sultana Bonna</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Sultana Bonna</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Sultana Bonna</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                    </p>
                </div>

            </div>
            <div id="demo4" class="row collapse clearfix">
                <div class="col-md-12">
                    <h3 class="text-center">Benajeer Haque</h3>
                    <br/>
                </div>
                <div class="col-md-2 float-left">
                    <img class="img-thumbnail clearfix" alt="Benajeer Haque" title="Benajeer Haque" style="width: 130px; height: 130px" src="~/Content/img/developerimg/benazir.jpg"/>
                </div>
                <div class="col-md-9 float-left">
                    <p>
                        I am <strong>Benajeer Haque</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Benajeer Haque</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Benajeer Haque</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Benajeer Haque</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                    </p>
                </div>

            </div>
            <div id="demo5" class="row collapse clearfix">
                <div class="col-md-12">
                    <h3 class="text-center">Chitto Ranjan Sarker</h3>
                    <br />
                </div>
                <div class="col-md-2 float-left">
                    <img class="img-thumbnail clearfix" alt="Chitto Ranjna Sarker" title="Chitto Ranjan Sarker" style="width: 130px; height: 130px" src="~/Content/img/developerimg/chitto.jpg" />
                </div>
                <div class="col-md-9 float-left">
                    <p>
                        I am <strong>Chitt Ranjan Sarker</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Chitt Ranjan Sarker</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Chitt Ranjan Sarker</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                        I am <strong>Chitt Ranjan Sarker</strong>. I am learning web development at BKIICT on Asp.net. I have learned continue................
                    </p>
                </div>

            </div>
         </div>
    </div>
</div>

@section scripts{
    
}