
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}
@section styles{

}
<div class="bg-primary">
    <br/>
    <h3 style="text-align: center" class="text-light">Need help for product use?</h3>
    <br/>
</div>
<hr/>
<div class="container">
    @if (User.IsInRole("Administrator"))
    {
        <div class="row">
            <div class="col-md-3">
                <h4 class="">Suggested for you!</h4>
                <br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo1"> Getting Started! <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo2"> How To Send Requisition? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo3"> How To Print Requisition? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo4"> How To Setup All? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo5"> How To Assign Requisition? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
            </div>
            <div class="col-md-9">
                <div id="demo1" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">Getting Started!</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>
                </div>
                <div id="demo2" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Send Requisition?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
                <div id="demo3" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Print Requisition?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
                <div id="demo4" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Setup All?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
                <div id="demo5" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Assign Requisition?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("Controller"))
    {
        <div class="row">
            <div class="col-md-3">
                <h4 class="">Suggested for you!</h4>
                <br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo1"> Getting Started! <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo2"> How To Send Requisition? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo3"> How To Print Requisition? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo5"> How To Assign Requisition? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
            </div>
            <div class="col-md-9">
                <div id="demo1" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">Getting Started!</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>
                </div>
                <div id="demo2" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Send Requisition?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
                <div id="demo3" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Print Requisition?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
                
                <div id="demo5" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Assign Requisition?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="row">
            <div class="col-md-3">
                <h4 class="">Suggested for you!</h4>
                <br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo1"> Getting Started! <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo2"> How To Send Requisition? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                <a href="#" class="font-weight-light" data-toggle="collapse" data-target="#demo3"> How To Print Requisition? <i class="fa fa-video-camera" aria-hidden="true"></i></a><br />
                
            </div>
            <div class="col-md-9">
                <div id="demo1" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">Getting Started!</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>
                </div>
                <div id="demo2" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Send Requisition?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
                <div id="demo3" class="row collapse clearfix border">
                    <div class="col-md-12 bg-info">
                        <br />
                        <h3 class="text-center">How To Print Requisition?</h3>
                        <br />
                    </div>
                    <div class="col-md-6 float-left responsive">
                        <video width="320" height="240" controls class="responsive">
                            <source src="~/Content/video/Startingintro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.

                        </video>

                    </div>
                    <div class="col-md-6 float-left">
                        <br />
                        <h3> Description</h3>
                        <p>
                            Short discription...........

                        </p>
                    </div>

                </div>
                
            </div>
        </div>
    }
</div>

@section scripts{
    
}