@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="jumbotron">
    <h1>Professional Diploma in Web Applications Development (.Net Framework) </h1>
    <p class="lead">Batch-01</p>
    <p>
        Effective teachers are the most important factor contributing to student achievement. Sometimes it can be difficult to find the right words to say to someone who means so much to you.
        You have been an exemplary and visionary mentor, a great leader who has dedicated his life to the service of humanity. I appreciate and treasure everything you have taught me.
        Not only have you been a fantastic mentor to me, but you have taught ... Thanks for opening my eyes to new stages of opportunity and strength. ... Thank you for showing me how to stand my ground and have the kind of career .
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Effective teachers are the most important factor contributing to student achievement. Sometimes it can be difficult to find the right words to say to someone who means so much to you.
            You have been an exemplary and visionary mentor, a great leader who has dedicated his life to the service of humanity. I appreciate and treasure everything you have taught me.
            Not only have you been a fantastic mentor to me, but you have taught ... Thanks for opening my eyes to new stages of opportunity and strength. ... Thank you for showing me how to stand my ground and have the kind of career .
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>